 [Unit]
 Description=Data collection service
 Requires=gpsd.service
 After=multi-user.target
 After=gpsd.service

 [Service]
 Type=idle
 User=pi
 Group=pi
 Restart=always
 ExecStart=/usr/bin/python3 /home/pi/Documents/picar/data_collector/collector.py --praefix /home/pi/data/ -q --lower_q

 [Install]
 WantedBy=multi-user.target
